.discover{
  margin: 0 auto;
  display: block;
  flex-direction: column;
  width: 863px;
  text-align: center;
}

.discover__txt{
  margin: 0;
  font-size: 48px;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 62px;
}

.discover__button{
  display: flex;
  margin: 0 auto;
  margin-top: 32px;
  padding: 26px;
  background-color: #7B61FF;
  color: #FFFFFF;
  border: none;
  border-radius: 12px;
  width: 273px;
  height: 72px;
  font-size: 18px;
  font-weight: 500;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.discover__button:hover{
  opacity: .9;
}